.env
# Python
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
